<%- include("partials/header") %>


<a class="btn btn-secondary view-msg" href=""> Update Username </a> 
<a class="btn btn-secondary view-msg" href=""> Update Password </a> 
<a class="btn btn-secondary view-msg" href=""> Update Email </a> 
<br><br>
<a class="btn btn-warning view-msg" href=""> Go back</a> 



    

<%- include("partials/footer") %>
