body{
    background-color: rgb(129, 130, 208);
}

.form-signin {
	max-width: 330px;
	padding-top: 10rem;
  }
  

  .form-signin .form-floating:focus-within {
	z-index: 2;
  }
  .form-signin input[type="username"] {
	margin-bottom: 1px;
	border-top-left-radius: 0.5;
	border-top-right-radius: 0.5;
	
  }
  .form-signin input[type="text"] {
	margin-bottom: 1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
  }
  .h3{
	text-align: center;
    color: rgb(191, 73, 204);
    text-align: center;
  }


input {
	background: transparent;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	display: block;
	outline: none;
	padding: 20px 15px 8px 30px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 100%;
	}
	input:focus {
	border-bottom-color: #407e93;
	border-bottom-width: 2px;
	}

.save{
    float: right;
}
.box{
    border: 1px solid;
    padding: 10px 20px 10px 20px ;
    background-color: rgb(194, 219, 230);
}
.contacts{
    border: 1px solid;
    margin-top: 10px;
    border-radius: 7PX;
    background-color: rgb(56, 52, 52);
    padding: 10px 10px 0 10px;
}
.contacts-info{
    border: 1px solid;
    margin-top: 30px;
    border-radius: 7PX;
    background-color: rgb(56, 52, 52);
    padding: 20px 10px 30px 10px;
    height: 30rem;
}

.messages{
    border: 1px solid;
    border-color: rgb(148, 220, 198);
    border-radius: 10px;
    margin: 10px 0 10px 0 ;
    padding: 8px 0 0 5px;
}


a{
    text-decoration: none;
    color: white;
}



.contact-info{
    color: white;
}

.btn-delete{
    float: right;
}
.logout{
float: right;
}
.back{
    width: 15rem;
    padding: 5px 0 7px 0;
    border-radius: 20px;
}
.back-div{
    padding: 0 0 10px 0;
}
.view-msg{
    width: 15rem;
    padding: 5px 0 7px 0;
    border-radius: 20px;  
}
.time{
    color: rgb(188, 127, 52);
}
.compose{
    margin-top: 100px;
}
.welcome-msg{
    margin-top: 50px;
}